body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
  }
  textarea {
    width: 90%;
    height: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  pre {

    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
  }

  div.ordenar  {
    width: 90%;
display: block;
    padding: 10px;
  }
  div.contenedor{
    width: 100%;
    display: flex;
  }
  p.instrucciones{
    display: block;
  }