body {
    padding: 0; 
    margin: 0;
    background: #f70;
}

h1 {
font-size: 30;
    
}

div {
    width: 90%;    
    display: block;
    background: #ccc;
    margin: 2px;
}

.wrap {
    
    background: #999;
    margin: auto;
}

p {
    
    width: 30%;    
    display: inline-flex;
    font-size: 2em;
    background: #fff;
}

.rotulo {
    width: 47%; 
    font-size: 1.2em;
    background: #17d;
}